[submodule "zsh/prezto"]
	path = zsh/prezto
	url = https://github.com/sorin-ionescu/prezto.git
  ignore = dirty
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "emacs.d"]
	path = emacs.d
	url = https://github.com/syl20bnr/spacemacs.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "bash/bash_it"]
	path = bash/bash_it
	url = https://github.com/Bash-it/bash-it.git
[submodule "zsh/zsh_custom/themes/pure"]
	path = zsh/zsh_custom/themes/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "zsh/zsh_custom/plugins/zsh-syntax-highlighting"]
	path = zsh/zsh_custom/plugins/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "misc/fzf"]
	path = misc/fzf
	url = https://github.com/junegunn/fzf.git
