custom/zsh

**/l.*
**/.l.*

vim/view
*un~
vim/.netrwhist
vim/tmp
vim/spell
vim/after/.vimrc.after
vim/.vundles.local
vim/.vundles.local.bak
vim/bundle
vim/sessions
.netrwhist
bin/subl
tags
tmp
bak

**/TODO.l.md

**/_gitignore

!bak/README.md
!tmp/README.md
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
